@model AuthVM
@{
    ViewBag.Title = "Авторизация";
    Layout = "_Layout";
}
<div class="page d-flex justify-content-center">
    <div class="header m-5">
        <h2>Вход</h2>
        <div class="container d-flex justify-content-center">
            <form method="post" asp-controller="Accounts" asp-action="Login">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="m-1">
                    <input class="form-control" asp-for="Email" placeholder="Email">
                </div>
                <div class="m-1">
                    <input class="form-control password1" asp-for="Password" type="password" placeholder="Password">
                    <span class="fa fa-fw fa-eye password-icon show-password"></span>
                </div>
                <div class="m-1">
                    <button class="mt-2 btn btn-primary w-100" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
    window.addEventListener("load", function() {
                   showPassword = document.querySelector('.show-password');
                   showPassword.addEventListener('click', () => {
                        password1 = document.querySelector('.password1');
                        if ( password1.type === "text" ) {
                             password1.type = "password"
                             showPassword.classList.remove('fa-eye-slash');
                         } else {
                             password1.type = "text"
                             showPassword.classList.toggle("fa-eye-slash");
                         }
                     })
            });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}