@using Redemption.Domain
@model CreateRedemption
@{
    ViewBag.Title = "Repayment";
    Layout = "_Layout";
}
<div class="page d-flex justify-content-center">
    <div class="header m-5">
        <h2>Create Redemption</h2>
        <div class="container d-flex justify-content-center">
            <form method="post" asp-controller="Redemption" asp-action="Repayment">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="m-1">
                    <select class="form-control w-100" required="required" asp-for="Company" id="">
                            <option selected>Выберите компанию</option>
                                @foreach (var com in (List<string>)ViewData["Company"])
                                {
                                    <option value="@com">@com</option>
                                }
                            </select>
                </div>
                <div class="m-1">
                    <input class="form-control" asp-for="Amount" placeholder="Amount" required>
                </div>
                <div class="m-1">
                    <button class="mt-2 btn btn-primary w-100" type="submit">Погасить</button>
                </div>
            </form>
        </div>
    </div>
</div>
